<div class="header">
    <h2 class="mt-4">PROTOTYPE APPLICATION</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-content>
                    <p style="font-size: x-large; color: gold;">Login With Google</p>
                    <a id="googleBtn" class="fa fa-google"></a>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>