<div class="header">
    <h2 class="mt-4">PROTOTYPE APPLICATION</h2>
</div>




<!-- <script src="https://apis.google.com/js/platform.js" async defer></script>

<meta name="google-signin-client_id" content="395549559363-pd0njpo0c5cp89dsd31qf45kk90o7b9t.apps.googleusercontent.com">

<div class="g-signin2" data-onsuccess="onSignIn"></div> -->

<!-- <div class="container mt-5">
    <h2>Google Login</h2>
    <div class="row mt-5">
      <div class="col-md-4 mt-2 m-auto ">
          <button class="loginBtn loginBtn--google" #loginRef>
              Login with Google
            </button>
      </div>    
    </div>
  </div> -->

<!-- <meta name="google-signin-client_id" content="395549559363-pd0njpo0c5cp89dsd31qf45kk90o7b9t.apps.googleusercontent.com"> -->

<!-- <meta name="google-signin-client_id" content="395549559363-ui4rimbprtlcmodlqa911mqjaupv9970.apps.googleusercontent.com"> -->

<!-- <meta name="google-signin-client_id" content="395549559363-ui4rimbprtlcmodlqa911mqjaupv9970.apps.googleusercontent.com"> -->
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->

<!-- <div class="g-signin2" id="googleBtn"></div> -->

<!-- <button (click)="signOut()">Sign Out</button> -->

<!-- <button id="googleBtn">Google</button> -->

<!-- <button id="googleBtn">Google</button> -->

<!-- <button (click)="signOut()">Sign out</button> -->

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-content>
                    <p style="font-size: x-large; color: gold;">Login With Google</p>
                    <a id="googleBtn" class="fa fa-google"></a>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>